@import "../../utilities/variables";

* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    border-bottom: 1px solid rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 0 5px;

    .upper {
        display: grid;
        grid-template-columns: 25% 50% 25%;

        .logo {
            text-align: left;
            color: $main-text-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            .icon {
                height: 30px;
            }

        }

        .heading {
            text-align: center;
            font-size: $font-size-7;
            color: $main-text-color;
        }

        .account {
            
            color: $main-text-color;
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            cursor: pointer;

        }
    }

}