@import "../../utilities/variables";

* {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    background-color: $secondary-background-color;
    margin: 3px 1px;
    padding: 8px 10px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;

    .image {
        width: 150px;
        height: 150px;
        object-fit: contain;
        background-color: $app-background-color;
        margin-right: 10px;
        cursor: pointer;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: $main-text-color;
        z-index: 3;
    }
    
    p {
        color: $main-text-color;
    }

    .name {
        font-size: $font-size-3;
        cursor: pointer;
    }

    .ingredients {
        font-size: $font-size-2;

        .owned-ingredient {
            cursor: pointer;
            display: inline;
        }

        .missing-ingredient {
            display: inline;
        }
    }

}

