<div class="navigation-bar">
    <div class="navigation-bar-items-wrapper">
        <div class="navigation-bar-item">
            <a class="navigation-link" routerLink="/recipe-browser">
                <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
                <span class="sr-only">(current)</span>
            </a>
        </div>
        <div class="navigation-bar-item">
            <a class="navigation-link" routerLink="/pantry">
                <mat-icon aria-hidden="false" aria-label="List icon"><mat-icon>list</mat-icon></mat-icon>
            </a>
        </div>
        <div class="navigation-bar-item">
            <a class="navigation-link" routerLink="/calendar">
                <mat-icon aria-hidden="false" aria-label="Calendar icon">access_time</mat-icon>
            </a>
        </div>
    </div>
</div>

