
<div class = "body">
    <app-heading [heading]="'Pantry'"></app-heading>
    <div class="content-wrapper">
        <div class="header">
            <p>Item</p>
            <p>Expires</p>
            <p>Remaining</p>
        </div>
        <ul class="list" *ngFor="let section of pantryItems | keyvalue">     
            <li class="section">
                <p class="section-title">{{section.key}}</p>
                <div cdkDropList  class="section-list"  (cdkDropListDropped)="drop($event,section)">
                    <div class="item-wrapper" *ngFor="let item of section.value" (click)="editPantryItem(item)" cdkDrag cdkDragBoundary=".section-list" cdkDragLockAxis="y">
                        <app-pantry-item [pantryItem]="item"></app-pantry-item>
                    </div>
                </div>
            </li>       
        </ul>    
    </div>
    <app-pantry-item-adder matTooltip="Info about the action" [addPantryItem]="addPantryItem.bind(this)" ></app-pantry-item-adder>
    <app-navbar></app-navbar>
</div>


