<div class="content-wrapper">
    <div class="exit-button" (click)="onSubmit()">
        <mat-icon>close</mat-icon>
    </div>
    <form [formGroup]="pantryItemForm">  
        <h2>Edit Pantry Item</h2> 
        <mat-form-field appearance="fill">
            <mat-label>Item Name</mat-label>
            <input matInput formControlName="name" [value]="data.name" >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Item Section</mat-label>
            <mat-select formControlName="section" [(value)]="data.section">
                <mat-option *ngFor="let section of pantrySections" [value]="section">
                  {{section}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="amount">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amount">
        </mat-form-field>
        <mat-form-field appearance="fill" class="units">
            <mat-label>Units</mat-label>
            <mat-select formControlName="units" [(value)]="defaultUnit">
                <mat-option *ngFor="let unit of measuringUnits" [value]="unit.aliases[0]">
                  {{unit.aliases[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Expiration Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="expirationDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button class="delete-button" type="submit" (click)="onDelete()" [disabled]="">Delete</button>
    </form>
</div>