<div class="body">
    <app-heading [heading]="'Calendar'"></app-heading>
    <div class="content-wrapper">
        <div class="calendar-wrapper">
            <div class="calendar"> 
                <div class="calendar-header">
                    <mat-icon class="left-arrow" (click)="switchCurrentDate(false)" >arrow_back_ios</mat-icon>
                    <p>{{currentDate.toLocaleString('default', { month: 'long' })}}</p>
                    <mat-icon class="right-arrow" (click)="switchCurrentDate(true)">arrow_back_ios</mat-icon>
                </div>
                
                <div class="calendar-body">
                    <div *ngFor='let day of days;let i = index' [ngClass]="day.items.length > 0 ? 'day clickable' : 'day'" (click)="clickedOnDay(i)">   
                        <span>{{day.day}}</span>        
                        <mat-icon class="day-marker" *ngIf="day.items.length > 0">info</mat-icon>
                    </div>
                </div>


            </div>
        </div>
        <div class="day-info-wrapper">
            <div class="item-wrapper" *ngFor="let item of itemsInFocus">
                <app-pantry-item [pantryItem]="item" (click)="openItemInfoDialog(item)"></app-pantry-item>
            </div>
        </div>
    </div>
    <app-navbar></app-navbar>
</div>


